
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios</h2>
<div ng-controller="ListController">
    <div ng-show="Section == ''">
        <div><input id="input1" ng-model="jeje" /></div>
        <p>{{jeje}}</p>
        <div class="col-md-12"><button class="btn btn-primary" ng-click="Add()">Agregar</button></div>

        <div class="col-md-8">
            <table class="table table-striped table-hover" id="tabla1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Usuario</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in items">
                        <td>{{u.Name}}</td>
                        <td>{{u.LastName}}</td>
                        <td>{{u.MotherLastName}}</td>
                        <td>{{u.UserName}}</td>
                        <td><button title="Editar" class="btn btn-info" ng-click="Edit(u); $event.stopPropagation()"><span class="fa fa-edit"></span></button></td>
                        <td><button title="Eliminar" class="btn btn-danger" ng-click="Delete(u); $event.stopPropagation()"><span class="fa fa-trash-alt"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pre>Usuarios encontrados: {{items | json}}</pre>

    </div>
</div>
<div ng-controller="AddController" ng-show="Section == 'AddSection'">
    @Html.Partial("UserForm")
</div>
<div ng-controller="EditController" ng-show="Section == 'EditSection'">
    @Html.Partial("UserForm")
</div>

@section scripts{
    <script src="~/Scripts/Controllers/UserController.js"></script>
}

